@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Signika Negative", sans-serif;
}

body {
    background-color: #2b2b2b;
}

#header {
    position: fixed;
    background-color: #222222;
    width: 100%;
    padding: 10px;
    color: #DDDDDD;
    z-index: 1000;
}


ul {
	text-transform:uppercase;
	text-align: left;
	display: inline;
	margin: 20px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}
ul li {
	font: bold 12px/18px sans-serif;
	display: inline-block;
	margin-right: -5px;
	margin-top: 8px;
	position: relative;
	padding: 15px 20px;
	background: #222222;
	color:#c75f5f;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
ul li:hover {
	background: #d6c773;
	color: #252525;
}

section {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    scroll-snap-align: start;
    color: #DDDDDD
}



.cover {
    float: left;
    width: 500px;
    height: 500px;
    background-color: #2b2b2b;
    position: relative;
    z-index: 10;
    justify-content: right;
    align-items: center;
    display: flex;

}

.vl {
    border-left: 6px solid #DDDDDD;

    border-radius: 3px;
    height: 500px;
    margin-right: 40px;
    float: left;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

#textone {
    float: left;
    width: 500px;
    margin-right: 100px;
}

.centered {
    text-align: center;
    justify-content: center;
}

.pillarcards {
    justify-content: center;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

#sec1 .hidden {
    position: relative;
    left: -500px;
    opacity: 0;
    transition: all 1s;
    transition-delay: calc(100ms * var(--order));
    margin-bottom: 10px;
}

section {
    clear: both;
}

#sec1 .show {
    float: left;
    transform: translateX(500px);
    opacity: 1;
}

#sec2 .hidden {
    position: relative;
    top: -50px;
    
    opacity: 0;
    transition: all 1s;
    transition-delay: calc(100ms * var(--order));
}

#sec2 .show {
    transform: translateY(50px);
    opacity: 1;
}


#sec3 {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    scroll-snap-align: start;
    color: #DDDDDD;
    padding: 0 auto;
}

#sec3 h1 {
    font-size: 50px;
}


.pillar {
    width: 200px;
    height: 300px;
    float: left;
    margin: 0px 30px;
    padding-top: 150px;
}


.pillar img {
    margin: 0px;
    padding: 0px;
}


@media(prefers-reduced-motion) {
    .hidden {
        transition: none !important;
    }
}

.hotspot {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    box-sizing: border-box;
    pointer-events: none;
}

.hotspot[slot="hotspot-hand"] {
    --min-hotspot-opacity: 0;
    background-color: red;
}

.hotspot[slot="hotspot-app"] {
    background-color: transparent;
    border: 3px solid white;
    --min-hotspot-opacity: .05;
}

.hotspot[slot="hotspot-chap"] {
    background-color: transparent;
    border: 3px solid white;
    --min-hotspot-opacity: .05;
}

.hotspot[slot="hotspot-std"] {
    background-color: transparent;
    border: 3px solid white;
    --min-hotspot-opacity: .05;
}

.hotspot[slot="hotspot-bky"] {
    background-color: transparent;
    text-align: center;
    border: 3px solid white;
    --min-hotspot-opacity: .05;
}

.annotation {
    color: white;
    text-align: center;
    position: relative;
    transform: translate(-25px, -20px);
}

/* This keeps child nodes hidden while the element loads */
:not(:defined)>* {
    display: none;
}

/*
Margin: How far it is from everyone else
size
Border: An outline of the div
size style color
Padding: How far the border is from its contents
size

all can specifiy top, right, left, bottom
*/
.card {
    position: relative;
    padding: 40px 32px;
    clip-path: circle(14% at 50% 26%);
    transition: all ease-in-out 0.3s;
    background-color: #fff;
    float: left;
    width:17%;
    color: #222;
}

.card__infoicon {
    position: absolute;
    top: 10px;
    right: 28px;
    font-size: 1.4em;
    color: #000;
    transition: ease-out 0.3s;
}

.card__title {
    margin: 0;
    font-size: 3em;
    line-height: 1.8;
}

.card__description {
    margin: 0;
    font-size: 1.1em;
    line-height: 1.6;
}

.card__credits {
    margin: 0;
    padding: 4px 0;
    font-size: 1.1em;
}

.card__reference {
    display: inline-block;
    border-bottom: 1px solid transparent;
    color: #09f;
    text-decoration: none;
    transition: ease-in 0.3s;
}

.card__reference:hover {
    border-bottom-color: #09f;
}

.card:hover,
.card:focus {
    clip-path: circle(75%);
    border-radius: 20px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08);
    background: #fff;
    outline: none;
}

.card:hover .card__infoicon,
.card:focus .card__infoicon {
    opacity: 0;
}

.card:focus {
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08), 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
}

#thetatau{
    width: 20%;
    padding-right: 30px;
}

#thetatau *{
    float: right;
    text-align: right;
    width: 100%
}

#thetatau h2{
    font-size: 30px;
    width: 100%;
    padding-bottom: 10px;
    margin-top: 0px;
    padding-top: 0px;
}


#thetatau h1{
    font-size: 70px;
    margin-bottom: -10px;
    padding-bottom: -5px;
}